# package
*.class
*.jar

# eclipse
/.classpath
/.project
/.metadata/
/.settings/
/.recommenders/
/bin/

# (no) idea
.idea
*.iml
*.ipr
*.iws
out/

# custom
.build/
/build/
.test
!/libs/edu

# running stuff
/run/

# thanks FRC
sysProps.xml

